<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.github.weichun97.mapper.DeviceMapper">

    <select id="devicePage" resultType="com.github.weichun97.entity.vo.device.DevicePageVO">
        select
            t1.id,
            t1.name,
            t1.url,
            t1.remark,
            t1.delete_time,
            t1.create_time,
            t1.update_time
        from device t1
        <where>
            delete_time = 0
        </where>
        order by t1.create_time desc
    </select>
</mapper>
